GroupBy function in Pandas

In [1]:
import pandas as pd

student_dict = {'Name': ['Kate', 'Harry', 'Sheila'], 'Age': [10, 14, 12], 'Marks': [85, 77, 91]}

# create DataFrame from dict
df = pd.DataFrame(student_dict)
print(df)

gk = df.groupby('Age')
gk.first()

     Name  Age  Marks
0    Kate   10     85
1   Harry   14     77
2  Sheila   12     91

       Name  Marks
Age
10     Kate     85
12   Sheila     91
14    Harry     77