Convert Series to DataFrame

Series.to_frame(name=None)

Parameters:

name: It accepts data objects as input. It is an optional parameter. The value of the name parameter will be equal to the name of the Series if it has any.

Return Type: It returns the DataFrame after converting it from Series

In [2]:
# importing pandas as pd 
import pandas as pd 
  
# Creating the Series 
sr = pd.Series([19.5, 16.8, 22.78, 20.124, 18.1002]) 
  
# Print the series 
print(sr) 
# convert to dataframe 
sr.to_frame()

0    19.5000
1    16.8000
2    22.7800
3    20.1240
4    18.1002
dtype: float64

         0
0  19.5000
1  16.8000
2  22.7800
3  20.1240
4  18.1002